<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>universalJavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>jOverseer.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.joverseer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>jOverseer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSEnvironment</key>
	<dict>
	  <key>JAVA_HOME</key>
	  <string>Contents/jre</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright Game Systems International Limited</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>There was an error while launching the jOverseer. Please click OK to display a dialog with more information.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>jOverseer requires access to your downloads folder for importing turn files.</string>
	<key>NSDocumentsFolderDescription</key>
	<string>jOverseer typically requires access to your Documents folder for storing data in a .jov file.</string>
	<key>NDDesktopFolderUsageDescription</key>
	<string>jOverseer may need access to your Desktop folder if you have relevant files there.</string>
	<key>JVMMainClassName</key>
	<string>org.joverseer.ui.JOverseerJIDEClient</string>
	<key>JVMOptions</key>
	<array>
	  <string>-Xmx512m</string>
	  <string>-Dswing.systemlaf=com.formdev.flatlaf.FlatLightLaf</string>
	  <string>-Dswing.defaultlaf=com.formdev.flatlaf.FlatLightLaf</string>
	</array>
	
</dict>
</plist>
