RemoteSystemsTempFiles
.metadata
/.recommenders
.DS_Store
joverseerupdaterjar/update/update/update.jar
joverseerupdaterjar/update.jar
joverseerupdaterjar/txt2xml.jar
*.class
*.db
joverseerjar/TEST-org.joverseer.LaunchTest.txt
orderchecker/TEST-orderchecker.ConfidenceTest.txt
orderchecker/TEST-ConfidenceTest.txt
joverseerjar/resources/images/map/Thumbs.db
joverseerjar/resources/images/btns/Thumbs.db
joverseerjar/resources/images/map/Thumbs.db
joverseerjar/resources/images/map/Thumbs.db
*.bak
/classes/
