version: 1.0.{build}
image:
  - macos-bigsur
# 2017 is the latest with Inno Setup also installed.
  - Visual Studio 2017
  - Ubuntu2204
branches:
  only:
    - master
    - release
# and while testing linux build again.
    - Linux-build
skip_tags: true
shallow_clone: true

for:
-
  matrix:
    only:
      - image: macos-bigsur
      
  install:
    - echo $SHELL
    - /usr/libexec/java_home -V
    - java --version
    - export JAVA_HOME=`/usr/libexec/java_home -v13.*`
    - java --version
    - pwd
    - ls -F
    - curl -L https://dlcdn.apache.org/ant/binaries/apache-ant-1.10.14-bin.tar.gz --output ant.tgz
    - tar xf ant.tgz
    - mv apache-ant-1.10.14 ant
    - curl -L https://sourceforge.net/projects/ant-contrib/files/ant-contrib-1.0b2-bin.tar.gz --output ant-contrib.tgz
    - cd ant/lib && tar xjf ../../ant-contrib.tgz ant-contrib/lib/ant-contrib.jar && cd ../..
    - pwd
# /Users/appveyor/projects/joverseer    
    - ls -F ant/lib
    - export ANT_HOME=/Users/appveyor/projects/joverseer/ant
    - curl -L https://downloads.sourceforge.net/project/launch4j/launch4j-3/3.50/launch4j-3.50-macosx-x86.tgz --output launch4j.tgz
    - tar xf launch4j.tgz
    - export PATH=${ANT_HOME}/bin:${PATH}
    - curl -L http://s.sudre.free.fr/Software/files/Packages.dmg --output Packages.dmg
    - ls -lF
    - hdiutil attach  Packages.dmg
    - ls -lF /Volumes/
    - ls -lF /Volumes/P*
    - sudo installer -package '/Volumes/Packages 1.2.10/Install Packages.pkg' -target /
    - hdiutil detach /Volumes/Packages*
   
  build_script:
    - ant test
    - ant -f joverseerRelease/build.xml MacOSInstallerPackages

  artifacts:
    - path: jOverseerRelease/dist/build\joverseer-*.pkg
      name: MacOSInstaller
-
  matrix:
    only:
      - image: Visual Studio 2017

  install:
    - cinst ant
    - curl -L https://downloads.sourceforge.net/project/launch4j/launch4j-3/3.50/launch4j-3.50-win32.zip --output C:\projects\joverseer\launch4j.zip
    - 7z x -oC:\projects\joverseer C:\projects\joverseer\launch4j.zip
  build_script:
    - ant test
    - ant -f joverseerRelease\build.xml windowsInstaller
    - ant -f joverseerRelease\build.xml updatezip
    - ant -f joverseerRelease\build.xml betaupdatezip

  artifacts:
    - path: jOverseerRelease\dist\Output\joverseer-setup*.exe
      name: windowsInstaller
    - path: jOverseerRelease\dist\latestupdate.zip
      name: latestupdate
    - path: jOverseerRelease\src\feed.xml
      name: feed
    - path: jOverseerRelease\dist\latestbetaupdate.zip
      name: latestbetaupdate
    - path: jOverseerRelease\src\betafeed.xml
      name: betafeed

-
  matrix:
    only:
      - image: Ubuntu2204

  install:
    - sudo apt -y install ant ant-contrib
    - echo $SHELL
    - java --version
    - echo $JAVA_HOME
    - echo $ANT_HOME
    - pwd
    - ls -F
    - curl -L https://downloads.sourceforge.net/project/launch4j/launch4j-3/3.50/launch4j-3.50-linux-x64.tgz --output launch4j.tgz
    - tar xf launch4j.tgz

  build_script:
#    - ant test
    - ant -f joverseerRelease/build.xml LinuxBYOJavaTar

  artifacts:
    - path: jOverseerRelease/dist/joverseer-BYOJ-*.tar.gz
      name: Linux-Bring-Your-Own-Java


